@use "../../styles/descriptions";

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes float {
    0%, 100% {transform: translateY(0)}
    50% {transform: translateY(-1rem);}
}

.destination-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-bottom: 3rem;

    .planet-img-wrapper {
        animation: float 5s ease-in-out infinite;

        .planet-img {
            width: 10rem;
            height: 10rem;
            animation: rotate 40s linear infinite;
        }
    }
    
    
    .description-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem; 

        .planet-nav {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
            max-width: 12rem;
            margin: 0 auto;

            li {
                button {
                    border: none;
                    background-color: transparent;
                    color: var(--secondary-color);
                    font-family: var(--secondary-font);
                    font-size: 1rem;
                    text-transform: uppercase;
                    border-bottom: solid .2rem rgba(151, 151, 151, 0);
                    padding-bottom: .7rem;
                    transition: border-bottom .3s linear;
                    cursor: pointer;
                }

                .active {
                    border-bottom: solid .2rem rgba(255, 255, 255, 1);
                }
            }
        }

        h2 {
            color: white;
            text-transform: uppercase;
            font-family: var(--primary-font);
            font-size: 2.6rem;
            font-weight: 100;
            text-align: center;
        }

        .planet-description {
            @include text-description-style-mobile;
            max-width: 16rem;
            text-align: center;
            border-bottom: solid .1rem rgb(56, 59, 75);
            padding-bottom: 2rem;
            margin-bottom: 2rem;
        }

        .planet-stats-container {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            gap: 1rem;

            .distance-text {
                color: var(--secondary-color);
                font-family: var(--secondary-font);
                font-weight: 100;
                letter-spacing: .1rem;
                text-transform: uppercase;
            }

            .distance-planet {
                color: white;
                font-size: 1.5rem;
                font-family: var(--primary-font);
                font-weight: 100;
                letter-spacing: .1rem;
            }

            .time-text {
                color: var(--secondary-color);
                font-family: var(--secondary-font);
                font-weight: 100;
                letter-spacing: .1rem;
                text-transform: uppercase;
            }

            .time-planet {
                color: white;
                font-size: 1.5rem;
                font-family: var(--primary-font);
                font-weight: 100;
                letter-spacing: .1rem;
            }
        }
    }
}

@media (min-width: 768px) {
    .destination-container {
        
        .planet-img-wrapper {
            .planet-img {
                width: 18rem;
                height: 18rem;
            }
        }
    
        .description-container {
            .planet-nav {
                max-width: 16rem;
    
                li {
                    button {
                        font-size: 1.5rem;
                        font-weight: 100;
                    }
                }
            }
    
            h2 {
                font-size: 4rem;
            }
    
            .planet-description {
                @include text-description-style-tablet;
                max-width: 25rem;
            }
    
            .planet-stats-container {
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: space-between;
                max-width: 23rem;

                p {
                    width: 10rem;
                    text-align: center;
                }

                .distance-text {
                    order: 1;
                }
    
                .distance-planet {
                    order: 3;
                }
    
                .time-text {
                    order: 2;
                }
    
                .time-planet {
                    order: 4;
                }
            }
        }
    }
}

@media (min-width: 1024px) {

    .destination-container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10rem;

        .planet-img-wrapper {
            .planet-img {
                width: 28rem;
                height: 28rem;
            }
        }

        .description-container {
            align-items: start;

            .planet-nav {
                gap: 2rem;
                max-width: 20rem;
                justify-content: start;
                margin: 0 0 2rem;

                li {
                    button {
                        font-size: 1.4rem;
                    }
                }
            }
    
            h2 {
                font-size: 5rem;
                text-align: left;
            }
    
            .planet-description {
                @include text-description-style-desktop;
                max-width: 25rem;
                min-height: 10rem;
                text-align: left;
            }
    
            .planet-stats-container {
                p {
                    text-align: left;
                }
            }
        }
    }
}

