$bg-home-desktop: url("images/home/background-home-desktop.jpg");
$bg-home-tablet: url("images/home/background-home-tablet.jpg");
$bg-home-mobile: url("images/home/background-home-mobile.jpg");

$bg-destination-desktop: url("images/destination/background-destination-desktop.jpg");
$bg-destination-tablet: url("images/destination/background-destination-tablet.jpg");
$bg-destination-mobile: url("images/destination/background-destination-mobile.jpg");

$bg-crew-desktop: url("images/crew/background-crew-desktop.jpg");
$bg-crew-tablet: url("images/crew/background-crew-tablet.jpg");
$bg-crew-mobile: url("images/crew/background-crew-mobile.jpg");

$bg-technology-desktop: url("images/technology/background-technology-desktop.jpg");
$bg-technology-tablet: url("images/technology/background-technology-tablet.jpg");
$bg-technology-mobile: url("public/images/technology/background-technology-mobile.jpg");

@mixin responsive-bg($desktop, $tablet, $mobile) {
    background-image: $desktop;

    @media (max-width: 1024px) {
        background-image: $tablet;
    }

    @media (max-width: 768px) {
        background-image: $mobile;
    }
}

.page-container{
    background-color: var(--primary-color);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100dvh;
    max-width: 100rem;
    margin: 0 auto;
    padding-top: 1.5rem;
}

.home-page {
    @include responsive-bg($bg-home-desktop, $bg-home-tablet, $bg-home-mobile);
}

.crew-page {
    @include responsive-bg($bg-crew-desktop, $bg-crew-tablet, $bg-crew-mobile);
}

.technology-page {
    @include responsive-bg($bg-technology-desktop, $bg-technology-tablet, $bg-technology-mobile);
}

.destination-page {
    @include responsive-bg($bg-destination-desktop, $bg-destination-tablet, $bg-destination-mobile);
}