$bg-burger: url("images/shared/icon-hamburger.svg");
$bg-close: url("images/shared/icon-close.svg");

@mixin link-num-style {
    color: var(--tertiary-color);
    margin-right: .7rem;
    font-weight: 600;
}

.navigation-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-height: 6rem;

    .logo {
        width: 2.5rem;
        height: 2.5rem;
        margin-left: 1.5rem;
    }

    .style-bar {
        display: none;
        position: relative;
        right: -6rem;
        width: 100%;
        max-width: 30%;
        height: 1px;
        border-bottom: solid 2px rgb(97, 100, 118);
        z-index: 999;
    }

    .burger-btn {
        margin-right: 1.5rem;
        background-image: $bg-burger;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: transparent;
        width: 1.5rem;
        height: 1.5rem;
        border: none;
        cursor: pointer;
    }

    .inactive {
        display: none;
    }

    .navbar-wrap {
        display: none;
        position: absolute;
        right: 0;
        top: 0;
        flex-direction: row;
        justify-content: space-between;
        background-color: rgba(155, 155, 155, .1);
        backdrop-filter: blur(10px);
        width: 70%;
        height: 100%;
        z-index: 998;

        .nav-list {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            font-size: .8rem;
            font-family: var(--secondary-font), sans-serif;
            text-transform: uppercase;
            letter-spacing: .2rem;
            font-weight: 100;
            margin-top: 8rem;
            margin-left: 2rem;

            .nav-link {
                color: var(--tertiary-color);

            }
        }

        span {
            @include link-num-style;
        }

        .close-btn {
            display: block;
            margin-right: 1.5rem;
            margin-top: 2rem;
            background-image: $bg-close;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-color: transparent;
            width: 1.5rem;
            height: 1.5rem;
            border: none;
            cursor: pointer;
        }
    }

    .active-navbar {
        display: flex;
    }
}

@media (min-width: 768px) {
    .navigation-container {
        .burger-btn {
            display: none;
        }

        .navbar-wrap {
            display: flex;
            position: absolute;
            justify-content: none;
            align-items: center;
            max-width: 60%;
            max-height: 6rem;

            .nav-list {
                flex-direction: row;
                justify-content: center;
                width: 100%;
                gap: 2rem;
                margin-top: 0;
                margin-left: 0;

                li {
                    max-width: 10rem;
                }

                .active {
                    padding-bottom: 2.4rem;
                    border-bottom: solid 2px white;
                }
            }

            span {
                display: none;
            } 

            .close-btn {
                display: none;
            }

            .nav-link {
                border-bottom-color: rgba(255, 255, 255, 0);
                transition: border-bottom .3s ease;

                &:hover {
                    padding-bottom: 2.4rem;
                    border-bottom: solid 2px rgba(255, 255, 255, .5);
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .navigation-container {
        .style-bar {
            display: block;
        }
        .navbar-wrap {
            position: relative;
            height: 6rem;

            span {
                display: inline-block;
            } 
        }
    }
}