@keyframes border-effect {
  0%, 100% {
    width: 50%;
  }
  50% {
    width: 90%;
  }
}
.crew-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.crew-container .img-wrapper {
  display: flex;
  justify-content: center;
  width: 90%;
  border-bottom: solid 0.1rem rgb(97, 100, 118);
  animation: border-effect 5s ease-in-out infinite;
}
.crew-container .img-wrapper .crew-img {
  max-height: 14rem;
}
.crew-container .crew-nav {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.crew-container .crew-nav li button {
  width: 0.6rem;
  height: 0.6rem;
  background-color: rgb(151, 151, 151);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s linear;
}
.crew-container .crew-nav li .active {
  background-color: white;
}
.crew-container .crew-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0 2rem;
}
.crew-container .crew-details .crew-title {
  text-transform: uppercase;
  color: rgb(151, 151, 151);
  font-size: 0.8rem;
  font-weight: 100;
  font-family: var(--primary-font), sans-serif;
}
.crew-container .crew-details .crew-name {
  text-transform: uppercase;
  color: var(--tertiary-color);
  font-size: 1.2rem;
  font-weight: 100;
  font-family: var(--primary-font), sans-serif;
  letter-spacing: 0.1rem;
}
.crew-container .crew-details .crew-bio {
  font-family: var(--secondary-font), sans-serif;
  color: var(--secondary-color);
  font-size: 0.9rem;
  line-height: 1.6rem;
  font-weight: 400;
  text-align: center;
  max-width: 21rem;
}

@media (min-width: 768px) {
  .crew-container .img-wrapper:nth-child(1) {
    order: 3;
  }
  .crew-container .crew-nav:nth-child(2) {
    order: 2;
  }
  .crew-container .crew-details:nth-child(3) {
    order: 1;
  }
  .crew-container .crew-header {
    font-size: 0.8rem;
    align-self: flex-start;
  }
  .crew-container .crew-header span {
    font-size: 0.8rem;
  }
  .crew-container .img-wrapper {
    width: auto;
    border-bottom: none;
  }
  .crew-container .img-wrapper .crew-img {
    max-height: 30rem;
  }
  .crew-container .crew-nav {
    margin-top: 0.8rem;
    gap: 1.5rem;
  }
  .crew-container .crew-nav li button {
    width: 0.8rem;
    height: 0.8rem;
  }
  .crew-container .crew-details .crew-title {
    font-size: 1rem;
  }
  .crew-container .crew-details .crew-name {
    font-size: 1.5rem;
  }
  .crew-container .crew-details .crew-bio {
    font-size: 1rem;
    line-height: 1.75rem;
    max-width: 22rem;
    min-height: 6rem;
  }
}
@media (min-width: 1024px) {
  .crew-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
  }
  .crew-container .img-wrapper:nth-child(1) {
    grid-column: 2;
    grid-row: 1/span 3;
  }
  .crew-container .crew-nav:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
  }
  .crew-container .crew-details:nth-child(3) {
    grid-column: 1;
    grid-row: 1;
  }
  .crew-container .img-wrapper {
    margin: 0 auto;
  }
  .crew-container .img-wrapper .crew-img {
    max-height: 50rem;
  }
  .crew-container .crew-nav {
    width: 24rem;
    margin: 5rem auto 0;
  }
  .crew-container .crew-details {
    width: 24rem;
    padding: 0;
    align-items: start;
    margin: 7rem auto 0;
    gap: 0;
  }
  .crew-container .crew-details .crew-title {
    font-size: 2.2rem;
  }
  .crew-container .crew-details .crew-name {
    font-size: 3.1rem;
    text-wrap: wrap;
    min-height: 7.5rem;
    place-content: center;
  }
  .crew-container .crew-details .crew-bio {
    font-size: 1.125rem;
    line-height: 2rem;
    text-align: left;
    max-width: 24rem;
    min-height: 10rem;
  }
}
@media (min-width: 1200px) {
  .crew-container .crew-nav {
    width: 36rem;
  }
  .crew-container .crew-details {
    width: 36rem;
  }
}/*# sourceMappingURL=Crew.css.map */